/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light: #fff !default;
$stable: #f8f8f8 !default;
$positive: #4a87ee !default;
$positiveLight: rgba(73, 175, 255, 0.15) !default;
$calm: #43cee6 !default;
$balanced: #66cc33 !default;
$energized: #f0b840 !default;
$assertive: #ef4e3a !default;
$royal: #8a6de9 !default;
$dark: #444 !default;
$black: #000 !default;
$grey: #eee !default// The path for our ionicons font files, relative to the built & temporary main.css
$ligthGrey: rgba(238, 238, 238, 0.47);
$strongGrey: #888;
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";

.logo {
  width: 200px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

button.button {
  border: solid 3px $black;
  background-color: white;
  width: 470px;
  font-size: 18pt;
  line-height: 2;
  @extend .center;
}

button.button-block.bottom {
  margin-top: 200px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.numpad-container {
  width: 600px;
  margin-top: 10px;
}

.bc-keypad__key-button {
  font-size: 2rem;
}

label.greetings {
  // margin-top: 150px;
  margin-bottom: 20px;
}

label.instructions {
  margin-top: 70px;
  margin-bottom: 20px;
}

.offersContent {
  height: 400px;
  overflow: scroll;
}

.newOffersContent {
  height: 190px;
}

.centered-label {
  white-space: nowrap;
  font-size: 18pt;
  @extend .center;
}

.info-label {
  font-style: italic;
  white-space: normal;
  width: 600px;
  border-bottom: solid 1px $grey;
  padding: 15px 30px;
  text-align: center;
}

.offer-label {
  font-weight: bold;
  @extend .info-label
}

.right-label {
  margin-top: 30px;
  margin-right: 50px;
  float: right;
  margin-left: auto;
}

.label-small {
  font-size: 12pt;
}

input[type="tel"].big-input {
  font-size: 30pt;
  height: 50px;
  line-height: normal;
  text-align: center;
  @extend .center;
  margin-top: 50px;
  margin-bottom: 10px;
  width: 350px;
}

input[disabled] {
  background-color: $light;

}

.bar .button.button-clear .icon:before, .bar .button.button-clear.icon:before, .bar .button.button-clear.icon-left:before, .bar .button.button-clear.icon-right:before, .bar button.button-clear .icon:before, .bar button.button-clear.icon:before, .bar button.button-clear.icon-left:before, .bar button.button-clear.icon-right:before {
  font-size: 22px;
  margin-right: 10px;
  line-height: 32px;
}

.invalid-label-container span {
  color: $energized;
  @extend .centered-label;
}

.bc-keypad .bc-keypad__key-button:active {
  background-color: $grey;
}

.bc-keypad__key-button::after {
  height: 0;
}

a {
  color: $dark;
}

p {
  margin: 20px 50px 20px 50px;
  text-align: justify;
}

.wide {
  width: 600px;
  text-align: center;
}

.bc-keypad__key-button svg {
  height: 60px;
  width: 60px;
}

.grey {
  color: $strongGrey;
}

.highlighted {
  color: $positive;
}
