<ion-modal-view xmlns="http://www.w3.org/1999/html">

  <ion-header-bar class="bar bar-header bar-light" align-title="center">
    <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="modal.hide()"></a>
    <h1 class="title" ng-bind="agreementsText.title"></h1>
  </ion-header-bar>
  <ion-content>
    <p>
      Настоящее Пользовательское соглашение (далее - Соглашение) разработано в целях:
      <br>- получения Согласия на обработку персональных данных лиц, осуществляющих размещение информации (далее -
      Пользователи) в мобильном Приложении "Олень" (далее - Приложение), оператором персональных данных ИП Бондаренко
      Н.В. <br>(Пельмень-Бар "Олень") (далее - Компания);
      <br>- определения условий и порядка пользования Приложением.

    <p>Регистрируясь в приложении, Пользователь обязуется принять Согласие на обработку персональных данных, а также
      посредством регистрации в Приложении Пользователь подтверждает, что ознакомился и согласен с условиями и порядком
      пользования Приложением. Регистрация Пользователя в Приложении является акцептом Соглашения.

    <p>Согласие на обработку персональных данных

    <p>Я даю свое согласие на обработку моих персональных данных Компании, и подтверждаю, что, давая такое согласие, я
      действую своей волей и в своем интересе.

    <p>Согласие распространяется на следующую информацию: телефон, электронная почта, любая другая информация,
      относящаяся к моей личности.

    <p>Согласие на обработку персональных данных дается мною в целях:
      <br>- предоставления мне уведомлений об акциях, предложений и другой информации, имеющей отношение ко мне, а также
      для предоставления информации о товарах и услугах, которые, по мнению Компании, могут представлять интерес для
      меня;
      <br>- проведения опросов и маркетинговых, статистических и других исследований;
      <br>- информирования меня о новых услугах или товарах Компании и/или партнеров.

    <p>Согласие предоставляется на осуществление любых действий в отношении Персональных данных, которые необходимы для
      достижения вышеуказанных целей, включая без ограничения: сбор, систематизацию, накопление, хранение, уточнение
      (обновление, изменение), использование, распространение (в том числе передача), обезличивание, блокирование,
      уничтожение, а также осуществление любых иных действий с персональными данными в соответствии с действующим
      законодательством.

    <p>Обработка персональных данных осуществляется следующими способами:

      <br>- обработка персональных данных с использованием средств автоматизации;
      <br>- обработка персональных данных без использования средств автоматизации (неавтоматизированная обработка).

    <p>При обработке персональных данных Компания не ограничена в применении способов их обработки.

    <p>Настоящее согласие дается до истечения сроков хранения соответствующей информации или документов, содержащих
      указанную выше информацию, определяемых в соответствии с действующим законодательством РФ, после чего может быть
      отозвано посредством направления мною письменного уведомления Компании не менее чем за 1 (один) месяц до момента
      отзыва согласия.

    <p>За исключением случаев, предусмотренных действующим законодательством РФ и настоящим Соглашением, Компания
      обязуется без прямого согласия Пользователя не продавать персональные данные Пользователя третьим лицам, не
      обмениваться персональными данными Пользователя с третьими лицами.
    <p>Условия и порядок пользования сайтом пользователями.

    <p> Права и обязанности сторон настоящего Соглашения:

    <p>Пользователь имеет право:

    <p>Компания имеет право по своему усмотрению:
      <br>- создавать, изменять, отменять пункты настоящего Соглашения;
      <br>- ограничить доступ к любой информации, размещённой Пользователем;
      <br>- удалить информацию, размещённую Пользователем, учётную запись Пользователя;
      отказать в регистрации учётной записи Пользователю, учётная запись которого была ранее удалена Компанией за
      нарушение условий Соглашения.

    <p>Пользователь обязуется:
      <br>- обеспечить достоверность предоставляемой информации;
      <br>- при распространении информации, создателем которой Пользователь не является, обеспечить включение в её
      состав достоверных сведений об обладателе этой информации или об ином лице, распространяющем информацию, в форме и
      объёме, которые достаточны для идентификации такого лица;
      <br>- не распространять информацию, за распространение которой предусмотрена уголовная или административная
      ответственность;
      <br>- не распространять рекламную информацию самостоятельно, без согласования с Компанией;
      <br>- не нарушать работоспособность приложения путём размещения информации, содержащей вирусы, создания
      дополнительной нагрузки на сервер, применением программ, не обусловленных функциональным содержанием
      информационного ресурса и иными способами.

    <p>Правила модерации:
    <p>Компания берет на себя задачу модерации и контроля за соблюдением условий настоящего Соглашения и целевым
      использованием Приложения, ограждая пользователей Приложения от ненужной информации.

    <p>Ответственность сторон:
    <p>В случае если Пользователем была размещена информация, распространение которой ограничивается или запрещается
      федеральными законами, нарушает авторское или иное защищаемое законом право, всю полноту ответственности за её
      размещение несёт Пользователь.

    <p>Время и условия действия Соглашения:
    <p>Настоящее соглашение вступает в силу с момента регистрации Пользователем в Приложении и распространяется на
      неопределённый срок.

    <p>Компания имеет право на одностороннее изменение положений Соглашения. Актуальная версия Соглашения размещается
      Компанией в Приложении.
    </p>

    <div class="row">
      <button class="button button-block grey" ng-bind="agreementsText.ok" ng-click="closeModal()"></button>
    </div>
  </ion-content>
</ion-modal-view>
