<ion-view view-title="Olen Loyality App">
  <ion-content padding="true" scroll="false">
    <div class="row">
      <div class="col">
        <img src="main/assets/images/logo.png" class="logo">
      </div>
    </div>

    <form novalidate>
      <div class="row" ng-if="!ctrl.isError">
        <label class="centered-label greetings" ng-bind="ctrl.text.greetings"></label>
      </div>

      <div ng-if="!ctrl.isError">
        <div class="row" ng-if="ctrl.offers.length != 0">
          <label class="centered-label instructions" ng-if="!ctrl.newOffersMode"
                 ng-bind="ctrl.text.instructions"></label>
          <label class="centered-label instructions highlighted" ng-if="ctrl.newOffersMode"
                 ng-bind="ctrl.text.instructionsNewOffers"></label>
        </div>

        <div ng-if="ctrl.activeOffers.length != 0"
             ng-class="{'offersContent' : !ctrl.newOffersMode, 'newOffersContent' : ctrl.newOffersMode}">
          <div ng-repeat="offer in ctrl.offers" ng-if="ctrl.activeOffers.length != 0">
            <div class="row">
              <label ng-if="!ctrl.newOffersMode" class="centered-label info-label"
                     ng-bind="($index + 1) + '. ' + offer.textAtOfferApplying.toString()"></label>

              <label ng-if="ctrl.newOffersMode" class="centered-label info-label"
                     ng-bind="offer.textAtOfferCreationClient.toString()"></label>
            </div>
          </div>

          <div ng-if="ctrl.offers.length === 0" class="offersContent">
            <div class="row">
              <label class="centered-label instructions greetings"
                     ng-bind="ctrl.text.instructionsNoOffers"></label>
            </div>
          </div>
        </div>
      </div>

      <div class="row" ng-if="ctrl.isError">
        <label class="centered-label greetings" ng-bind="ctrl.text.error"></label>
      </div>

      <div class="row" ng-if="ctrl.isError" class="offersContent">
        <label class="centered-label label-small" ng-bind="ctrl.text.errorInstructinos"></label>
      </div>

      <div class="row" ng-if="ctrl.newOffersMode">
        <button class="button button-block bottom" ng-bind="ctrl.text.ok" ng-click="ctrl.toPhoneState()"></button>
      </div>
    </form>
  </ion-content>
</ion-view>
