<ion-view view-title="Olen Loyalty App">
  <ion-content padding="true" scroll="false" locking="true">

    <div class="row">
      <div class="col">
        <img src="main/assets/images/logo.png" class="logo">
      </div>
    </div>

    <form name="ctrl.phoneForm" novalidate>
      <div class="row">
        <span class="centered-label" ng-bind="ctrl.text.callToEnterPhone"></span>
      </div>

      <div class="row">
        <input type="tel"
               class="big-input"
               disabled name="phone"
               ng-model="ctrl.phone"
               ui-mask="+7 (999) 999-99-99"
               ui-options="{allowInvalidValue : true}"
               required/>
      </div>

      <!-- This terrible thing is just for time being-->
      <div class="row" style="margin-bottom: 30px" ng-show="!ctrl.inputIsInvalid"></div>

      <div class="row invalid-label-container" ng-show="ctrl.inputIsInvalid">
        <span ng-bind="ctrl.text.phoneIsInvalid"></span>
      </div>

      <div class="numpad-container center">
        <bc-keypad bc-number-model="ctrl.phone" bc-right-button="backspace"></bc-keypad>
      </div>

      <div class="row">
        <button ng-if="!ctrl.inProgress" type="submit" class="button button-block center" ng-click="ctrl.submit()"
                ng-bind="ctrl.text.registerCall"></button>

        <button icon-only ng-if="ctrl.inProgress" type="submit" class="button button-block center" ng-click="ctrl.submit()"
                ng-disabled="true">
          <ion-spinner icon="dots"></ion-spinner>
        </button>
      </div>
      <div class="row">
        <div class="center wide">
          <div ng-bind="ctrl.text.iAccept" class="margin-right"></div>
          <span ng-bind="ctrl.text.processing" class="margin-right"></span>
          <a class="" href="" ng-bind="ctrl.text.conditions" ng-click="ctrl.openAgreement()"></a></div>
      </div>
    </form>
  </ion-content>
</ion-view>
