<ion-view view-title="Olen Loyality App">
  <ion-content padding="true" scroll="false" locking="true">

    <div class="row">
      <div class="col">
        <img src="main/assets/images/logo.png" class="logo">
      </div>
    </div>

    <form name="ctrl.receiptForm" novalidate>
      <div class="row">
        <span class="centered-label" ng-bind="ctrl.text.callToEnterReceipt"></span>
      </div>

      <div class="row">
          <input type="tel"
                 class="big-input"
                 disabled name="receipt"
                 ng-model="ctrl.receipt"
                 ui-mask="999999"
                 ui-options="{allowInvalidValue : true}"
                 required/>
        </div>

      <!-- This terrible thing is just for time being-->
      <div class="row" style="margin-bottom: 30px" ng-show="!ctrl.inputIsInvalid"></div>

      <div class="row invalid-label-container" ng-show="ctrl.inputIsInvalid" ng-cloak>
        <span ng-bind="ctrl.text.receiptIsInvalid"></span>
      </div>

      <div class="numpad-container center">
        <bc-keypad bc-number-model="ctrl.receipt" bc-right-button="backspace"></bc-keypad>
      </div>

      <div class="row">
        <button type="submit" class="button button-block" ng-click="ctrl.submit()"
                ng-bind="ctrl.text.send"></button>
      </div>

      <div class="row">
        <button class="button button-block grey" ng-click="ctrl.skip()" ng-bind="ctrl.text.skip"></button>
      </div>
    </form>
  </ion-content>
</ion-view>
